<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CoolBlog |
        <%=title %>
    </title>
    <link rel="icon" href="/img/favicon.svg" type="image/svg" sizes="16x16">
    <link rel="stylesheet" href="/style.css">
    <script src="/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>