@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+JP:wght@100;300;400;500&family=Texturina:wght@200;400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/*roboto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --bg: #2b89ec;
    --bglight: #57a5f8;
    --navlight: #b6d9ff;
    --title: rgb(37, 37, 37);
    --footerColor: rgb(248, 248, 248);
    --heading: #0f6cce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
}

html {
    height: fit-content;
}


/* body */

body {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    overflow-x: hidden;
}

h2 {
    font-weight: 600;
    padding: 2em 0;
    text-transform: capitalize;
    color: var(--heading);
}

nav {
    background: var(--bg);
    display: flex;
    flex-direction: row;
    padding: 10px 2em;
    max-height: 10vh;
    font-family: 'Nerko One', cursive;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    float: left;
    font-size: 1.2em;
}

nav ul li a {
    padding: 5px 10px;
}

nav * {
    color: var(--navlight);
}

nav a {
    text-decoration: none;
}

.site-title h1 {
    font-size: 2em;
    font-family: 'Sansita Swashed', cursive;
}

.snippet {
    font-family: 'Architects Daughter', cursive;
    margin: 10px 2em;
}

.title {
    border-bottom: 2px solid var(--title);
    padding: 2px;
    display: inline;
    margin: 15px;
    position: relative;
    color: var(--title);
    text-transform: capitalize
}

.title::after {
    content: " ";
    position: absolute;
    width: 2px;
    height: 1.1em;
    left: 0.2em;
    bottom: -1.1em;
    background: var(--title);
}

.title::before {
    content: " ";
    position: absolute;
    width: 0.3em;
    height: 2px;
    left: 0.2em;
    bottom: -1.1em;
    background: var(--title);
}

.content {
    padding: 2em;
    text-align: justify;
    /* min-height: 90vh; */
}

footer {
    background: var(--bg);
    padding: 10px;
    text-align: center;
    color: var(--navlight);
    font-family: 'Nerko One', cursive;
    font-size: 1em;
    max-height: 10vh;
    margin-top: auto;
    font-weight: lighter;
}

.create-blog form {
    max-width: 400px;
    margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid var(--heading);
    border-radius: 5px;
}

.create-blog label {
    display: inline;
    margin-top: 24px;
    color: var(--heading);
}

textarea {
    height: 120px;
}

.create-blog button {
    margin-top: 20px;
    background: var(--bg);
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 300ms;
}

.create-blog button:hover {
    background: var(--bglight);
}

.blogs a {
    text-decoration: none;
    display: block;
    color: black;
    border-radius: 5px;
    border-left: 5px solid cornflowerblue;
}

.blogs a:hover,
.blogs a:hover h3 {
    color: #2b89ec;
    border-color: blueviolet;
}

.blogs a:hover h3::before,
.blogs a:hover h3::after {
    background: blueviolet;
}

nav ul li:hover a {
    color: aliceblue;
}

.newblog {
    position: relative;
    z-index: 0;
}

.newblog::before {
    content: attr(data-name);
    color: #5ad8ff;
    position: absolute;
    top: 5px;
    animation: newblog 1.5s ease infinite;
    z-index: -1;
}

@keyframes newblog {
    to {
        transform: scale(1.3);
        opacity: 0;
    }
}

.details {
    position: relative;
}

.delete {
    padding: 6px 10px;
    margin: 2em;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}

.delete:visited {
    color: red;
}

.delete:hover {
    cursor: pointer;
    color: red;
    box-shadow: 1px 1px 1px rgba(250, 0, 0, 0.6);
}