<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Noto+Sans+JP:wght@100;300;400;500&family=Texturina:wght@200;400;600;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
         :root {
            --bg: #2b89ec;
            --bglight: #57a5f8;
            --title: rgb(37, 37, 37);
            --footerColor: rgb(248, 248, 248);
            --heading: #0f6cce;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            height: fit-content;
        }
        
        body {
            font-family: 'Libre Baskerville', serif;
            min-height: 100vh;
            width: 100vw;
            overflow-x: hidden;
        }
        
        h2 {
            font-weight: 600;
            padding: 2em 0;
            color: var(--heading);
        }
        
        nav {
            background: var(--bg);
            display: flex;
            flex-direction: row;
            padding: 10px 2em;
            font-family: 'Nerko One', cursive;
            justify-content: space-between;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }
        
        nav ul li {
            float: left;
            font-size: 1.2em;
        }
        
        nav ul li a {
            padding: 5px 10px;
        }
        
        nav * {
            color: aliceblue;
        }
        
        nav a {
            text-decoration: none;
        }
        
        .site-title h1 {
            font-size: 2em;
            font-family: 'Sansita Swashed', cursive;
        }
        
        .snippet {
            font-family: 'Architects Daughter', cursive;
            margin: 10px 2em;
        }
        
        .title {
            border-bottom: 2px solid var(--title);
            padding: 2px;
            display: inline;
            margin: 15px;
            position: relative;
            color: var(--title);
        }
        
        .title::after {
            content: " ";
            position: absolute;
            width: 2px;
            height: 1.1em;
            left: 0.2em;
            bottom: -1.1em;
            background: var(--title);
        }
        
        .title::before {
            content: " ";
            position: absolute;
            width: 0.3em;
            height: 2px;
            left: 0.2em;
            bottom: -1.1em;
            background: var(--title);
        }
        
        .content {
            padding: 2em;
            min-height: 90vh;
        }
        
        footer {
            background: var(--bg);
            padding: 10px;
            text-align: center;
            color: var(--footerColor);
            font-family: 'Nerko One', cursive;
            font-size: 1em;
            font-weight: lighter;
        }
        
        .create-blog form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        .create-blog input,
        .create-blog textarea {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
            border: 1px solid var(--heading);
            border-radius: 5px;
        }
        
        .create-blog label {
            display: inline;
            margin-top: 24px;
            color: var(--heading);
        }
        
        textarea {
            height: 120px;
        }
        
        .create-blog button {
            margin-top: 20px;
            background: var(--bg);
            border: 0;
            color: aliceblue;
            border-radius: 5px;
            padding: 10px;
            font-size: 1.2em;
            cursor: pointer;
            transition: 300ms;
        }
        
        .create-blog button:hover {
            background: var(--bglight);
        }
    </style>
</head>