<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About US</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quis necessitatibus recusandae ullam suscipit. A aliquam, incidunt, amet atque quaerat deleniti debitis quidem tempore, molestiae totam laboriosam ipsa praesentium omnis!</p>


            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>